*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open sans',sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

section {
  padding: 7em 0;
}

h1, h2, h3, p {
  margin: 0;
}

#navbar {
  overflow: hidden;
  background: #122;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: auto;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #e48d00;
  color: white;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: .5em 1.5em;
  background: var(--clr-accent, blue);
  color: var(--clr-text, white);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  border-radius: .35em;
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
  transition: transform 250ms ease-in-out, opacity 250ms linear, -webkit-transform 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .9;
}

.main-text {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vh+1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(2.5rem, calc(5vh+1rem), 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 5rem;
}

.hero {
  color: white;
  text-align: center;
  padding: 15em 0;
  background: #222;
}

@supports (background-blend-mode: multiply) {
  .hero {
    background: url(../img/hero.png), radial-gradient(#444, #122);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.split > * {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 15em;
}

.featured {
  background: #eee;
}

.featured__item {
  display: block;
  position: relative;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  text-decoration: none;
  color: #333;
  text-align: center;
  line-height: 1.2;
}

.featured__item:hover, .featured__item:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.featured__item:hover .featured__details, .featured__item:focus .featured__details {
  opacity: 1;
}

.featured__item::after {
  content: '';
  position: absolute;
  padding: 100% 100% 0 0;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: steelblue;
  z-index: -1;
}

.featured__details {
  opacity: 0;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.featured__details span {
  display: block;
  font-weight: 700;
  font-size: 2.5rem;
}

.product {
  background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, yellow));
  padding: 3em;
  border-radius: 1em;
  margin-bottom: 5em;
  text-align: center;
}

.product__title {
  font-size: clamp(3rem, calc(5vw+1rem), 5.5rem);
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
}

.product__img {
  margin: -5em 0 0 0;
}

@media (min-width: 45em) {
  .product {
    text-align: left;
    margin-bottom: 9em;
  }
  .product__title {
    margin: 0;
  }
  .product__img {
    float: right;
    width: 50%;
    shape-outside: url(../img/shoe-1.png);
    margin: 0 -5em 0 0;
  }
  .product.shoe-left .product__img {
    shape-outside: url(../img/shoe-2.png);
    float: left;
    margin: 0 0 0 -5em;
    shape-margin: 3rem;
  }
}

.hero {
  --clr-accent:#e48d00;
}

.shoe-one {
  --clr-inner:#faa700;
  --clr-outer:#e48d00;
  --clr-accent:#a1173c;
}

.shoe-two {
  --clr-inner:#fce4b3;
  --clr-outer:#eac886;
  --clr-accent:#2f4858;
}

.shoe-three {
  --clr-inner:#6dd5ed;
  --clr-outer:#2193b0;
  --clr-accent:#008951;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e48d00;
  color: white;
  text-align: center;
  font-size: clamp(3rem, calc(5vw+1rem), 1.5rem);
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */